<footer>
    <div class="footer-info">
        <div class="f-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-discord"></i>
        </div>
        <div class="company">&copy; Make My Trip</div>
        <div class="flinks" style="padding-bottom: 15px;">
            <a href="/privacy">Privacy</a>
            <a href="/tc" >Terms & conidtion</a>
        </div>
    </div>
</footer>