<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <img src="https://imgak.mmtcdn.com/pwa_v3/pwa_hotel_assets/header/mmtLogoWhite.png">
              <a class="nav-link"  href="/listings">Explore</a>
                <a class="nav-link"  href="/listings/new">Add a New Place</a>
          </div>

          <div class="navbar-nav ms-auto">
              <form class="d-flex" role="search">
                <input class=" srch form-control me-2" type="search" placeholder="Search Destination" aria-label="Search">
                <button class="btn-srch" type="submit">Search</button>
              </form>
          </div>

          <div class="navbar-nav ms-auto" style="padding-bottom: 20px;" >

            <% if(!currUser) { %>
              <a class="nav-link" aria-current="page" href="/login"><b>Login</b></a>
              <a class="nav-link"  href="/signup"><b>SignUp</b></a>
            <% }%>
            
            <% if(currUser) { %>
              <a class="nav-link"  href="/logout"><b>LogOut</b></a>
            <% }%>

          </div>

      </div>
  </div>

</nav>


<div id="filters">
  <div class="filters"><div><i class="fa-solid fa-plane"></i><p>Flights</p></div></div>
  <div class="filters"><div><i class="fa-solid fa-hotel"></i><p>Hotls</p></div></div>
  <div class="filters"><div><i class="fa-solid fa-train"></i><p>Trains</p></div></div>
  <div class="filters"><div><i class="fa-solid fa-taxi"></i><p>Cabs</p></div></div>
  <div class="filters"><div><i class="fa-solid fa-bus"></i><p>Bus</p></div></div>
  <div class="filters"><div><i class="fa-brands fa-cc-visa"></i><p>visa</p></div></div>
  <div class="filters"><div><i class="fa-solid fa-wallet"></i><p>Currency</p></div></div>
  
  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Show Tax</label>
    </div>
  </div>

</div>

<script>
  let taxswitch = document.getElementById("flexSwitchCheckDefault")
  taxswitch.addEventListener("click" , () =>{
    let taxinfo = document.getElementsByClassName("tax-info");
    for(info of taxinfo){
      if(info.style.display!= "inline") info.style.display = "inline";
      else info.style.display = "none";
    }
  })
</script>



